In [107]:
import pandas as pd
import re

In [108]:
data = pd.read_excel("GL Transactions as at 31.10.212.xlsx", dtype= str,header=None)

In [109]:
data = data[6:]

In [110]:
data.reset_index(drop = True)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Posting date,Voucher,Dimensions,NaN,NaN,NaN,NaN,Transaction text,Currency,Currency amount,Amount,NaN,Amount secondary currency,NaN
1,Ledger account,20030,NaN,Account name,Similar rights an licenses - software,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"637,00","637,00",NaN,"0,00",NaN
3,Ledger account,20030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"637,00",NaN,"0,00",NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13283,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"-120.312,53","120.312,53",NaN,"0,00",NaN
13284,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,USD,"19.122,37","10.708,20",NaN,"0,00",NaN
13285,Ledger account,999000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"120.312,53",NaN,"0,00",NaN
13286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"120.312,53",NaN,NaN,NaN
13287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00",NaN,NaN,NaN

In [111]:
data.columns = data.iloc[0]
data = data[1:]
data.reset_index(drop = True)

6,Posting date,Voucher,Dimensions,NaN,NaN,NaN,NaN,Transaction text,Currency,Currency amount,Amount,NaN,Amount secondary currency,NaN
0,Ledger account,20030,NaN,Account name,Similar rights an licenses - software,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"637,00","637,00",NaN,"0,00",NaN
2,Ledger account,20030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"637,00",NaN,"0,00",NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00",NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"637,00",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13282,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"-120.312,53","120.312,53",NaN,"0,00",NaN
13283,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,USD,"19.122,37","10.708,20",NaN,"0,00",NaN
13284,Ledger account,999000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"120.312,53",NaN,"0,00",NaN
13285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"120.312,53",NaN,NaN,NaN
13286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00",NaN,NaN,NaN

In [122]:
data.reset_index(drop = True,inplace= True)
data

6,Posting date,Voucher,Dimensions,NaN,NaN,NaN,NaN,Transaction text,Currency,Currency amount,Amount,NaN,Amount secondary currency,NaN
0,Ledger account,20030,NaN,Account name,Similar rights an licenses - software,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"637,00","637,00",NaN,"0,00",NaN
2,Ledger account,20030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"637,00",NaN,"0,00",NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00",NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"637,00",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13282,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"-120.312,53","120.312,53",NaN,"0,00",NaN
13283,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,USD,"19.122,37","10.708,20",NaN,"0,00",NaN
13284,Ledger account,999000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"120.312,53",NaN,"0,00",NaN
13285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"120.312,53",NaN,NaN,NaN
13286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,00",NaN,NaN,NaN

In [123]:
datePattern  = r"\d.\d+.\d+"

In [124]:
nulls = pd.isnull(data["Posting date"]).values

In [125]:
nulls = [i for i,x in enumerate(nulls) if x]

In [126]:
nulls

[3,
 4,
 8,
 9,
 19,
 20,
 47,
 48,
 49,
 50,
 51,
 105,
 106,
 107,
 108,
 109,
 163,
 164,
 165,
 166,
 167,
 174,
 175,
 180,
 181,
 218,
 219,
 220,
 221,
 222,
 276,
 277,
 278,
 279,
 280,
 294,
 295,
 299,
 300,
 304,
 305,
 310,
 311,
 325,
 326,
 327,
 328,
 329,
 331,
 333,
 334,
 340,
 341,
 379,
 380,
 381,
 382,
 383,
 395,
 396,
 401,
 402,
 434,
 435,
 436,
 437,
 438,
 492,
 493,
 494,
 495,
 496,
 550,
 551,
 552,
 553,
 554,
 568,
 569,
 583,
 584,
 605,
 606,
 607,
 608,
 609,
 663,
 664,
 665,
 666,
 667,
 721,
 722,
 723,
 724,
 725,
 779,
 780,
 781,
 782,
 783,
 837,
 838,
 839,
 840,
 841,
 895,
 896,
 897,
 898,
 899,
 910,
 911,
 951,
 952,
 953,
 954,
 955,
 1002,
 1003,
 1007,
 1008,
 1009,
 1010,
 1011,
 1065,
 1066,
 1067,
 1068,
 1069,
 1123,
 1124,
 1125,
 1126,
 1127,
 1181,
 1182,
 1183,
 1184,
 1185,
 1239,
 1240,
 1241,
 1242,
 1243,
 1297,
 1298,
 1299,
 1300,
 1301,
 1355,
 1356,
 1357,
 1358,
 1359,
 1390,
 1391,
 1411,
 1412,
 1413,
 1414,
 1415,
 1469,
 1470,
 1471,
 1472,
 1473,
 1507,
 1508,
 1525,
 1526,
 1527,
 1528,
 1529,
 1536,
 1537,
 1581,
 1582,
 1583,
 1584,
 1585,
 1639,
 1640,
 1641,
 1642,
 1643,
 1697,
 1698,
 1699,
 1700,
 1701,
 1755,
 1756,
 1757,
 1758,
 1759,
 1813,
 1814,
 1815,
 1816,
 1817,
 1871,
 1872,
 1873,
 1874,
 1875,
 1925,
 1926,
 1927,
 1928,
 1929,
 1931,
 1933,
 1934,
 1981,
 1982,
 1983,
 1984,
 1985,
 2039,
 2040,
 2041,
 2042,
 2043,
 2097,
 2098,
 2099,
 2100,
 2101,
 2155,
 2156,
 2157,
 2158,
 2159,
 2213,
 2214,
 2215,
 2216,
 2217,
 2249,
 2250,
 2269,
 2270,
 2271,
 2272,
 2273,
 2327,
 2328,
 2329,
 2330,
 2331,
 2385,
 2386,
 2387,
 2388,
 2389,
 2443,
 2444,
 2445,
 2446,
 2447,
 2501,
 2502,
 2503,
 2504,
 2505,
 2559,
 2560,
 2561,
 2562,
 2563,
 2617,
 2618,
 2619,
 2620,
 2621,
 2675,
 2676,
 2677,
 2678,
 2679,
 2733,
 2734,
 2735,
 2736,
 2737,
 2791,
 2792,
 2793,
 2794,
 2795,
 2797,
 2799,
 2800,
 2826,
 2827,
 2831,
 2832,
 2844,
 2845,
 2846,
 2847,
 2848,
 2902,
 2903,
 2904,
 2905,
 2906,
 2960,
 2961,
 2962,
 2963,
 2964,
 3018,
 3019,
 3020,
 3021,
 3022,
 3076,
 3077,
 3078,
 3079,
 3080,
 3134,
 3135,
 3136,
 3137,
 3138,
 3192,
 3193,
 3194,
 3195,
 3196,
 3250,
 3251,
 3252,
 3253,
 3254,
 3308,
 3309,
 3310,
 3311,
 3312,
 3366,
 3367,
 3368,
 3369,
 3370,
 3424,
 3425,
 3426,
 3427,
 3428,
 3482,
 3483,
 3484,
 3485,
 3486,
 3509,
 3510,
 3515,
 3516,
 3521,
 3522,
 3535,
 3536,
 3537,
 3538,
 3539,
 3593,
 3594,
 3595,
 3596,
 3597,
 3610,
 3611,
 3628,
 3629,
 3642,
 3643,
 3646,
 3647,
 3648,
 3649,
 3650,
 3704,
 3705,
 3706,
 3707,
 3708,
 3762,
 3763,
 3764,
 3765,
 3766,
 3820,
 3821,
 3822,
 3823,
 3824,
 3878,
 3879,
 3880,
 3881,
 3882,
 3936,
 3937,
 3938,
 3939,
 3940,
 3994,
 3995,
 3996,
 3997,
 3998,
 4052,
 4053,
 4054,
 4055,
 4056,
 4110,
 4111,
 4112,
 4113,
 4114,
 4168,
 4169,
 4170,
 4171,
 4172,
 4226,
 4227,
 4228,
 4229,
 4230,
 4284,
 4285,
 4286,
 4287,
 4288,
 4342,
 4343,
 4344,
 4345,
 4346,
 4400,
 4401,
 4402,
 4403,
 4404,
 4458,
 4459,
 4460,
 4461,
 4462,
 4516,
 4517,
 4518,
 4519,
 4520,
 4574,
 4575,
 4576,
 4577,
 4578,
 4632,
 4633,
 4634,
 4635,
 4636,
 4690,
 4691,
 4692,
 4693,
 4694,
 4748,
 4749,
 4750,
 4751,
 4752,
 4806,
 4807,
 4808,
 4809,
 4810,
 4864,
 4865,
 4866,
 4867,
 4868,
 4922,
 4923,
 4924,
 4925,
 4926,
 4980,
 4981,
 4982,
 4983,
 4984,
 4995,
 4996,
 5002,
 5003,
 5008,
 5009,
 5014,
 5015,
 5032,
 5033,
 5034,
 5035,
 5036,
 5090,
 5091,
 5092,
 5093,
 5094,
 5148,
 5149,
 5150,
 5151,
 5152,
 5206,
 5207,
 5208,
 5209,
 5210,
 5264,
 5265,
 5266,
 5267,
 5268,
 5322,
 5323,
 5324,
 5325,
 5326,
 5380,
 5381,
 5382,
 5383,
 5384,
 5438,
 5439,
 5440,
 5441,
 5442,
 5496,
 5497,
 5498,
 5499,
 5500,
 5554,
 5555,
 5556,
 5557,
 5558,
 5612,
 5613,
 5614,
 5615,
 5616,
 5670,
 5671,
 5672,
 5673,
 5674,
 5728,
 5729,
 5730,
 5731,
 5732,
 5786,
 5787,
 5788,
 5789,
 5790,
 5827,
 5828,
 5842,
 5843,
 5844,
 5845,
 5846,
 5883,
 5884,
 5898,
 5899,
 5900,
 5901,
 5902,
 5910,
 5911,
 5915,
 5916,
 5920,
 5921,
 5927,
 5928,
 5935,
 5936,
 5948,
 5949,
 5950,
 5951,
 5952,
 5962,
 5963,
 5995,
 5996,
 6003,
 6004,
 6005,
 6006,
 6007,
 6061,
 6062,
 6063,
 6064,
 6065,
 6119,
 6120,
 6121,
 6122,
 6123,
 6177,
 6178,
 6179,
 6180,
 6181,
 6235,
 6236,
 6237,
 6238,
 6239,
 6293,
 6294,
 6295,
 6296,
 6297,
 6351,
 6352,
 6353,
 6354,
 6355,
 6409,
 6410,
 6411,
 6412,
 6413,
 6467,
 6468,
 6469,
 6470,
 6471,
 6525,
 6526,
 6527,
 6528,
 6529,
 6583,
 6584,
 6585,
 6586,
 6587,
 6641,
 6642,
 6643,
 6644,
 6645,
 6699,
 6700,
 6701,
 6702,
 6703,
 6757,
 6758,
 6759,
 6760,
 6761,
 6815,
 6816,
 6817,
 6818,
 6819,
 6873,
 6874,
 6875,
 6876,
 6877,
 6931,
 6932,
 6933,
 6934,
 6935,
 6989,
 6990,
 6991,
 6992,
 6993,
 7047,
 7048,
 7049,
 7050,
 7051,
 7105,
 7106,
 7107,
 7108,
 7109,
 7142,
 7143,
 7161,
 7162,
 7163,
 7164,
 7165,
 7171,
 7172,
 7217,
 7218,
 7219,
 7220,
 7221,
 7275,
 7276,
 7277,
 7278,
 7279,
 7333,
 7334,
 7335,
 7336,
 7337,
 7391,
 7392,
 7393,
 7394,
 7395,
 7449,
 7450,
 7451,
 7452,
 7453,
 7507,
 7508,
 7509,
 7510,
 7511,
 7552,
 7553,
 7563,
 7564,
 7565,
 7566,
 7567,
 7621,
 7622,
 7623,
 7624,
 7625,
 7679,
 7680,
 7681,
 7682,
 7683,
 7737,
 7738,
 7739,
 7740,
 7741,
 7789,
 7790,
 7793,
 7794,
 7795,
 7796,
 7797,
 7851,
 7852,
 7853,
 7854,
 7855,
 7909,
 7910,
 7911,
 7912,
 7913,
 7967,
 7968,
 7969,
 7970,
 7971,
 8025,
 8026,
 8027,
 8028,
 8029,
 8083,
 8084,
 8085,
 8086,
 8087,
 8141,
 8142,
 8143,
 8144,
 8145,
 8199,
 8200,
 8201,
 8202,
 8203,
 8257,
 8258,
 8259,
 8260,
 8261,
 8315,
 8316,
 8317,
 8318,
 8319,
 8373,
 8374,
 8375,
 8376,
 8377,
 8379,
 8381,
 8382,
 8388,
 8389,
 8394,
 8395,
 8409,
 8410,
 8417,
 8418,
 8422,
 8423,
 8424,
 8425,
 8426,
 8472,
 8473,
 8478,
 8479,
 8480,
 8481,
 8482,
 8507,
 8508,
 8534,
 8535,
 8536,
 8537,
 8538,
 8592,
 8593,
 8594,
 8595,
 8596,
 8650,
 8651,
 8652,
 8653,
 8654,
 8708,
 8709,
 8710,
 8711,
 8712,
 8766,
 8767,
 8768,
 8769,
 8770,
 8824,
 8825,
 8826,
 8827,
 8828,
 8834,
 8835,
 8849,
 8850,
 8859,
 8860,
 8877,
 8878,
 8879,
 8880,
 8881,
 8935,
 8936,
 8937,
 8938,
 8939,
 8993,
 8994,
 8995,
 8996,
 8997,
 9051,
 9052,
 9053,
 9054,
 9055,
 9109,
 9110,
 9111,
 9112,
 9113,
 9167,
 9168,
 9169,
 9170,
 9171,
 9225,
 9226,
 9227,
 9228,
 9229,
 9283,
 9284,
 9285,
 9286,
 9287,
 9341,
 9342,
 9343,
 9344,
 9345,
 9399,
 9400,
 9401,
 9402,
 9403,
 9457,
 9458,
 9459,
 9460,
 9461,
 9515,
 9516,
 9517,
 9518,
 9519,
 9526,
 9527,
 9540,
 9541,
 9555,
 9556,
 9564,
 9565,
 9567,
 9568,
 9569,
 9570,
 9571,
 9592,
 9593,
 9623,
 9624,
 9625,
 9626,
 9627,
 9635,
 9636,
 9644,
 9645,
 9678,
 9679,
 9680,
 9681,
 9682,
 9696,
 9697,
 9712,
 9713,
 9731,
 9732,
 9733,
 9734,
 9735,
 9737,
 9739,
 9740,
 9787,
 9788,
 9789,
 9790,
 9791,
 9845,
 9846,
 9847,
 9848,
 ...]

In [127]:
data.reset_index(drop = True)
data.drop(index=nulls, inplace = True)
data.reset_index(drop = True)

6,Posting date,Voucher,Dimensions,NaN,NaN,NaN,NaN,Transaction text,Currency,Currency amount,Amount,NaN,Amount secondary currency,NaN
0,Ledger account,20030,NaN,Account name,Similar rights an licenses - software,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"637,00","637,00",NaN,"0,00",NaN
2,Ledger account,20030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"637,00",NaN,"0,00",NaN
3,Ledger account,20035,NaN,Account name,Acc. Depreciation on Similar rights and licens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"-637,00","637,00",NaN,"0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11839,Ledger account,999000,NaN,Account name,Opening Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11840,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,EUR,"161.210,19","109.604,33",NaN,"0,00",NaN
11841,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"-120.312,53","120.312,53",NaN,"0,00",NaN
11842,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,USD,"19.122,37","10.708,20",NaN,"0,00",NaN
11843,Ledger account,999000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"120.312,53",NaN,"0,00",NaN

In [128]:
data= data[data["Posting date"].str.contains(datePattern)]

In [129]:
data.reset_index(drop = True, inplace= True)

In [130]:
data

6,Posting date,Voucher,Dimensions,NaN,NaN,NaN,NaN,Transaction text,Currency,Currency amount,Amount,NaN,Amount secondary currency,NaN
0,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"637,00","637,00",NaN,"0,00",NaN
1,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"-637,00","637,00",NaN,"0,00",NaN
2,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"397.921,35","397.921,35",NaN,"0,00",NaN
3,31.10.2021,3806,NaN,900,NaN,NaN,NaN,Correction FRS 102,GBP,"54.423,72","54.423,72",NaN,"0,00",NaN
4,31.10.2021,3807,NaN,900,NaN,NaN,NaN,Correction FRS 102,GBP,"1.066,73","1.066,73",NaN,"0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11105,30.09.2021,3781,NaN,900,NaN,NaN,NaN,Wokingham Council Rates,GBP,"3.200,00","3.200,00",NaN,"0,00",NaN
11106,31.10.2021,3796,NaN,900,NaN,NaN,NaN,Wokingham Council Rates,GBP,"3.200,00","3.200,00",NaN,"0,00",NaN
11107,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,EUR,"161.210,19","109.604,33",NaN,"0,00",NaN
11108,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"-120.312,53","120.312,53",NaN,"0,00",NaN
11109,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,USD,"19.122,37","10.708,20",NaN,"0,00",NaN

In [143]:
x = data["Currency amount"].replace(",","*")

In [147]:
x = x.str.replace(",","*")

In [149]:
x = x.str.replace(".",",")

/tmp/ipykernel_6467/673352148.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  x = x.str.replace(".",",")

In [151]:
x = x.str.replace("*",".")

/tmp/ipykernel_6467/931800292.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  x = x.str.replace("*",".")

In [153]:
data["Currency amount"] = x

/tmp/ipykernel_6467/916453098.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Currency amount"] = x

In [155]:
data.head(20)

6,Posting date,Voucher,Dimensions,NaN,NaN,NaN,NaN,Transaction text,Currency,Currency amount,Amount,NaN,Amount secondary currency,NaN
0,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,637.00,"637,00",NaN,"0,00",NaN
1,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,-637.00,"637,00",NaN,"0,00",NaN
2,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"397,921.35","397.921,35",NaN,"0,00",NaN
3,31.10.2021,3806,NaN,900,NaN,NaN,NaN,Correction FRS 102,GBP,"54,423.72","54.423,72",NaN,"0,00",NaN
4,31.10.2021,3807,NaN,900,NaN,NaN,NaN,Correction FRS 102,GBP,"1,066.73","1.066,73",NaN,"0,00",NaN
5,31.10.2021,3808,NaN,900,NaN,NaN,NaN,Correction FRS 102,GBP,378.75,"378,75",NaN,"0,00",NaN
6,31.10.2021,3809,NaN,900,NaN,NaN,NaN,Correction FRS 102,GBP,377.80,"377,80",NaN,"0,00",NaN
7,31.10.2021,3810,NaN,900,NaN,NaN,NaN,Correction FRS 102,GBP,377.80,"377,80",NaN,"0,00",NaN
8,31.10.2021,3811,NaN,900,NaN,NaN,NaN,Correction FRS 102,GBP,36.83,"36,83",NaN,"0,00",NaN
9,01.01.2021,20/21,NaN,NaN,NaN,NaN,NaN,Opening transaction 17.02.2021,GBP,"-189,837.03","189.837,03",NaN,"0,00",NaN
10,31.01.2021,FA-005411,NaN,900,NaN,NaN,NaN,NaN,GBP,"-1,502.08","1.502,08",NaN,"0,00",NaN
11,31.01.2021,FA-005412,NaN,900,NaN,NaN,NaN,NaN,GBP,-28.37,"28,37",NaN,"0,00",NaN
12,31.01.2021,FA-005413,NaN,900,NaN,NaN,NaN,NaN,GBP,-10.42,"10,42",NaN,"0,00",NaN
13,31.01.2021,FA-005414,NaN,900,NaN,NaN,NaN,NaN,GBP,-10.42,"10,42",NaN,"0,00",NaN
14,31.01.2021,FA-005415,NaN,900,NaN,NaN,NaN,NaN,GBP,-10.42,"10,42",NaN,"0,00",NaN
15,31.01.2021,FA-005416,NaN,900,NaN,NaN,NaN,NaN,GBP,-1.02,"1,02",NaN,"0,00",NaN
16,31.01.2021,FA-005417,NaN,900,NaN,NaN,NaN,NaN,GBP,-20.27,"20,27",NaN,"0,00",NaN
17,31.01.2021,FA-005418,NaN,900,NaN,NaN,NaN,NaN,GBP,-19.69,"19,69",NaN,"0,00",NaN
18,31.01.2021,FA-005419,NaN,900,NaN,NaN,NaN,NaN,GBP,-14.75,"14,75",NaN,"0,00",NaN
19,31.01.2021,FA-005438,NaN,910,NaN,NaN,NaN,NaN,GBP,-4.09,"4,09",NaN,"0,00",NaN