In [2]:
import pandas as pd

In [4]:
ds = pd.read_table("KE UK GLs 2021.txt",header = None)

In [6]:
ds

                                                       0
0      Entry No.|G/L Account No.|Posting Date|Documen...
1      464794|02503|01/01/21| |GIT|December GIT||-4,3...
2      464795|27200|01/01/21| |GIT|December GIT||4,38...
3      464796|02502|01/01/21| |GIT|December GIT||-5,7...
4      464797|27300|01/01/21| |GIT|December GIT||5,77...
...                                                  ...
28774  494124|05100|31/12/21|Payment|DD|BARCLAYCARD -...
28775  494140|05100|31/12/21|Invoice|K-PI28636|Invoic...
28776  494141|06500|31/12/21| |DT ADJ|Corporation Tax...
28777  494142|06500|31/12/21| |DT ADJ|Corporation Tax...
28778  494143|63500|31/12/21| |DT ADJ|Corporation Tax...

[28779 rows x 1 columns]

In [7]:
ds = ds[0].str.split("|",expand = True)

In [8]:
ds

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,Entry No.,G/L Account No.,Posting Date,Document Type,Document No.,Description,Bal. Account No.,Amount,Global Dimension 1 Code,Global Dimension 2 Code,...,BM Dim SALESPERSON,BM Dim CONSOLIDATION,BM Dim KEYACCOUNT,BM Dim PROJECT,BM Dim COSTCENTRE,BM Dim BM12,BM Dim BM13,BM Dim BM14,BM Dim BM15,Division Code
1,464794,02503,01/01/21,,GIT,December GIT,,"-4,381",K100,,...,,,,,,,,,,
2,464795,27200,01/01/21,,GIT,December GIT,,"4,381",K100,,...,,,,,,,,,,
3,464796,02502,01/01/21,,GIT,December GIT,,"-5,777",K200,,...,,,,,,,,,,
4,464797,27300,01/01/21,,GIT,December GIT,,"5,777",K200,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28774,494124,05100,31/12/21,Payment,DD,BARCLAYCARD - DD,,0,,EU OLD,...,,THIRD,,,,,,,,
28775,494140,05100,31/12/21,Invoice,K-PI28636,Invoice K-PI28636,,0,,EU OLD,...,,THIRD,,,,,,,,
28776,494141,06500,31/12/21,,DT ADJ,Corporation Tax 2021,,-889.39,,,...,,,,,,,,,,
28777,494142,06500,31/12/21,,DT ADJ,Corporation Tax 2021,,"-44,321",,,...,,,,,,,,,,
28778,494143,63500,31/12/21,,DT ADJ,Corporation Tax 2021,,"45,210.39",_DIRECT,EU OLD,...,,,,,ADMINISTRATION,,,,,

In [9]:
df = pd.DataFrame(ds.iloc[1:].values,columns = ds.iloc[0].values)

In [10]:
df

,Entry No.,G/L Account No.,Posting Date,Document Type,Document No.,Description,Bal. Account No.,Amount,Global Dimension 1 Code,Global Dimension 2 Code,...,BM Dim SALESPERSON,BM Dim CONSOLIDATION,BM Dim KEYACCOUNT,BM Dim PROJECT,BM Dim COSTCENTRE,BM Dim BM12,BM Dim BM13,BM Dim BM14,BM Dim BM15,Division Code
0,464794,02503,01/01/21,,GIT,December GIT,,"-4,381",K100,,...,,,,,,,,,,
1,464795,27200,01/01/21,,GIT,December GIT,,"4,381",K100,,...,,,,,,,,,,
2,464796,02502,01/01/21,,GIT,December GIT,,"-5,777",K200,,...,,,,,,,,,,
3,464797,27300,01/01/21,,GIT,December GIT,,"5,777",K200,,...,,,,,,,,,,
4,464807,26190,01/01/21,,PURCH ACCL,Davies Turner PO 28993,,-661,K100,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28773,494124,05100,31/12/21,Payment,DD,BARCLAYCARD - DD,,0,,EU OLD,...,,THIRD,,,,,,,,
28774,494140,05100,31/12/21,Invoice,K-PI28636,Invoice K-PI28636,,0,,EU OLD,...,,THIRD,,,,,,,,
28775,494141,06500,31/12/21,,DT ADJ,Corporation Tax 2021,,-889.39,,,...,,,,,,,,,,
28776,494142,06500,31/12/21,,DT ADJ,Corporation Tax 2021,,"-44,321",,,...,,,,,,,,,,
28777,494143,63500,31/12/21,,DT ADJ,Corporation Tax 2021,,"45,210.39",_DIRECT,EU OLD,...,,,,,ADMINISTRATION,,,,,